<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, maximum-scale=1">
    <meta name="theme-color" content="#2e100f">
    <link rel="shortcut icon" type="image/png" href="https://cdn.divaescort.com/resources/img/fav_2x32-2.png">
    <title>&#9794; Demo-Page</title>
    <link rel="apple-touch-icon" href="https://cdn.divaescort.com/resources/img/logo-bg-192x192.png" sizes="192x192">
    <link
        media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        rel="apple-touch-startup-image" href="https://www.divaescort.com/resources/img/splash_640x1136.png?r=2">
    <link
        media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        rel="apple-touch-startup-image" href="https://www.divaescort.com/resources/img/splash_750x1294.png?r=2">
    <link
        media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
        rel="apple-touch-startup-image" href="https://www.divaescort.com/resources/img/splash_750x1334.png?r=2">
    <link
        media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        rel="apple-touch-startup-image" href="https://www.divaescort.com/resources/img/splash_1242x2148.png?r=2">
    <link
        media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)"
        rel="apple-touch-startup-image" href="https://www.divaescort.com/resources/img/splash_1125x2436.png?r=2">
    <link
        media="(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)"
        rel="apple-touch-startup-image" href="https://www.divaescort.com/resources/img/splash_1536x2048.png?r=2">
    <link
        media="(min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)"
        rel="apple-touch-startup-image" href="https://www.divaescort.com/resources/img/splash_1668x2224.png?r=2">
    <link
        media="(min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)"
        rel="apple-touch-startup-image" href="https://www.divaescort.com/resources/img/splash_2048x2732.png?r=2">
    <link rel="mask-icon" href="https://cdn.divaescort.com/resources/img/logo-mask.svg" color="#790003">
    <link rel="preload" as="style" href="/assets/diva_t2site.min_125000.css">
    <link rel="preload" as="style" href="/assets/diva_t2site_fonts.min_125000.css">
    <link rel="preload" as="style" href="/assets/diva_t2site_desktop.min_125000.css">
    <link rel="preload" as="font" type="font/woff2" href="/assets/fontawesome-webfont.woff2?v=4.7.0"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/diva_t2site.min_125000.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/assets/diva_t2site_fonts.min_125000.css">
    <link rel="stylesheet" type="text/css" href="/assets/diva_t2site_desktop.min_125000.css">
    <link onload="this.onload=null;this.rel='stylesheet'" rel="preload" as="style"
        href="/assets/diva_t2site_img.min_125000.css">
    <link onload="this.onload=null;this.rel='stylesheet'" rel="preload" as="style"
        href="/assets/font-awesome-4.min.css?r=3"><noscript>
        <link rel="stylesheet" type="text/css" href="/assets/resources/font-awesome-4.min.css?r=3">


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    </noscript>
    <script
        type="application/ld+json">{"@context":"http://schema.org/","@type":"AdultEntertainment","currenciesAccepted":["GBP","EUR","USD"],"paymentAccepted":["Cash","Credit Card"],"priceRange":"$$$","Name":"Diva Escort","telephone":"+44 78 80 80 80 70","email":"info@divaescort.com","address":{"@type":"PostalAddress","addressLocality":"London","addressCountry":"United Kingdom"},"image":"https://www.divaescort.com/resources/img/logo1-min.png"}</script>
    <script
        type="application/ld+json">{"@context":"https://schema.org","@type":"Organization","url":"https://www.divaescort.com/","logo":"https://www.divaescort.com/resources/img/logo1-min.png"}</script>
    <link rel="preload" as="image"
        href="https://media.divaescort.com/images/webppreviewwl/osana-r17152748134887-0003.jpeg">
    <link rel="preload" as="image"
        href="https://media.divaescort.com/images/webppreviewwl/immortal-r17144376479573-0004.jpeg">
    <link rel="preload" as="image"
        href="https://media.divaescort.com/images/webppreviewwl/blonde-knightsbridge-sloane-square-south-kensington-dieselina-r17269202818104-0002.jpeg">
    <link rel="preload" as="image"
        href="https://media.divaescort.com/images/webppreviewwl/brunette-great-portland-street-oxford-circus-regents-park-goodge-street-bond-street-talista-r17270837626882-0002.jpg">

    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-ML3DR8QN');</script>

</head>
